h2 {
  display: inline-block ;
  vertical-align: top ;
  padding-right: 1em ;
  color: #666 ;
  width: 20% ;
  text-align: right ;
  font-weight: bold ;
  font-size: 16pt ;
}

li {
  margin-top: 0.2em ;
}

address {
  margin-bottom: 4em ;
}

.content {
  margin: 15px auto 0 auto;
  width: 850px ;
}

.footer {
  margin-top: 100px ;
  margin-bottom: 15px ;
  text-align: right ;
}

.footer * {
  font-size: 8pt ;
}

.fn {
  font-style: normal ;
  font-size: 18pt ;
}

.contact-information .type {
  font-style: italic ;
}

.profile p {
  font-size: 12pt ;
  padding-left: 12px ;
  padding-bottom: 12px ;
  line-height: 1.2 ;
}

.block {
  margin-top: 2em ;
}


.block-content {
  width: 70% ;
  display: inline-block ;
  padding: 0 10px 10px 10px ;
  border-left: thick solid gray ;
  border-bottom: thin solid gray ;
}

li.vevent {
  list-style-type: none ;
  margin-bottom: 1em ;
}

li.vevent:last-child {
  margin-bottom: 0;
}

.date {
  display: inline-block ;
  font-weight: bold ;
  width: 26% ;
}

li .summary, li .location, h3 {
  font-weight: bold ;
}

li .location {
  float: right ;
}

.experience > ul {
  margin-left: 1.5em ;
  list-style-type: disc ;
}

h3:first-child {
  margin-top: 0 ;
}

h3 {
  margin-top: 1em ;
}

h3 + ul {
  margin-left: 1.5em ;
}

.edition {
  font-style: italic ;
}
